# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL="http://localhost:5003"

# -----------------------------------------------------------------------------
# Sentry
# -----------------------------------------------------------------------------
SENTRY_ENABLE="true"
NEXT_PUBLIC_SENTRY_ENABLE="true"
SENTRY_DSN=
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_LOG_LEVEL="info"
