# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL="http://localhost:5003"

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_URL="http://localhost:5003"
NEXTAUTH_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
# GITHUB_ACCESS_TOKEN=""


# -----------------------------------------------------------------------------
# Database (postgresql)
# example: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=schemaName
# https://www.prisma.io/docs/concepts/database-connectors/postgresql
# -----------------------------------------------------------------------------
DATABASE_URL=
DATABASE_URL_DIRECT=

# -----------------------------------------------------------------------------
# Sentry
# -----------------------------------------------------------------------------
SENTRY_ENABLE="true"
NEXT_PUBLIC_SENTRY_ENABLE="true"
SENTRY_DSN=
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_LOG_LEVEL="info"
